NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/database
DB_DRIVER=postgres # postgres (local/Docker) | neon (serverless)

REDIS_HOST=localhost
REDIS_PORT=6379

BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL=http://localhost:3000

RESEND_API_KEY=re_changeme

STRIPE_SECRET_KEY=sk_test_changeme
STRIPE_WEBHOOK_SECRET=whsec_changeme
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_changeme
